PORT=5000
MONGO_URI=mongodb+srv://irfanislam669_db_user:AmgXuU7JXYOpiSlc@cluster0.1pmsaaw.mongodb.net/deadlinesos?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=deadlinesos_cyber_super_secret_jwt_key_2026
NODE_ENV=development
